<template>
    <div class="google-map" :id="mapName" :lat="lat" :lng="lng"></div>
</template>

<script>
    export default {
        props: ['name', 'lat', 'lng'],
        data: function () {
            return {
                mapName: this.name + " - map",
                markerCordinates: [
                    { latitude: this.lat, longitude: this.lng},
                ],
                map: null,
                bounds: null,
                markers: []
            }
        },
        mounted() {
            console.log('Google map component mounted.');
            const element = document.getElementById(this.mapName);
            const options = {
                zoom: 14,
                center: new google.maps.LatLng(this.lat, this.lng)
            }

            const map = new google.maps.Map(element, options);

            this.markerCordinates.forEach((coord) => {
                const position = new google.maps.LatLng(coord.latitude, coord.longitude);
                const marker = new google.maps.Marker({
                    position,
                    map
                })
            })
        }
    }
</script>

<style lang="scss">
    .google-map {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        background: gray;
    }
</style>
